@media (min-width: 1000px){
body {margin:3% 23% 1.5% 23%;}
h1 {font-weight: normal; font-size:24px; font-family:abrilf; margin:0px 0px 20px 0px; color:#aa0000;}
h2 {font-size:18px; font-family:crimst; margin:0px 0px 15px 0px;}
img {margin:13px 0px;}
hr {display:block; border-style:inset; border-width:1px;}
table {margin:20px 0px;}
figure {text-align:center;}
figcaption {text-align:center; font-size:13px; font-family:ptsans;}

.header {font-size:14px; font-family:abrilf; color:#000000; padding:0px 0px 4px 0px; margin:0px 0px 50px 0px; border-bottom:1px solid #cccccc;}
.content {font-size:19px; font-family:crimst;}
.note {font-size:19px; font-family:crimst; color:#666666; margin:30px 0px 30px 20px; padding:0px 0px 0px 10px; border-left:2px solid #000000}
.quote {font-size:15.5px; font-family:incons; color:#000000; padding:12px 12px; background-color:#f2f2f2; border:1px solid #000000}
.hr {font-size:1px; color:#000000; line-height:1px; background-color:grey;}
.footer {font-size:15px; font-family:crimst; color:#666666; padding:8px 0px 0px 0px; margin:50px 0px 0px 0px;}

a.black {text-decoration:none; color:#000000;}
a.red {text-decoration:none; color:#aa0000;}

a:hover {color:#666666; background-color: transparent; text-decoration: none;}

@font-face {font-family:abrilf; src:url(../font/AbrilFatface-Regular.ttf);}
@font-face {font-family:crimst; src:url(../font/CrimsonText-Regular.ttf);}
@font-face {font-family:incons; src:url(../font/Inconsolata-Regular.ttf);}
}

@media (max-width: 1000px){
body {margin:3% 4% 3% 4%;}

h1 {font-weight: normal; font-size:24px; font-family:abrilf; margin:30px 0px 40px 0px; color:#aa0000;}
h2 {font-size:18px; font-family:crimst; margin:0px 0px 15px 0px;}
img {margin:13px 0px;}
table {margin:20px 0px;}
figure {text-align:center;}
figcaption {text-align:center; font-size:13px; font-family:ptsans;}

.header {font-size:12px; font-family:abrilf; color:#000000; padding:0px 0px 4px 0px; margin:0px 0px 70px 0px; border-bottom:1px solid #cccccc;}
.content {font-size:19px; font-family:crimst;}
.note {font-size:19px; font-family:crimst; color:#666666; margin:50px 0px 50px 20px; padding:0px 0px 0px 30px; border-left:3px solid #000000}
.quote {font-size:15.5px; font-family:incons; color:#000000; padding:12px 12px; background-color:#f2f2f2; border:1px solid #000000}
.hr {font-size:1px; color:#000000; line-height:1px; background-color:grey;}
.footer {font-size:12px; font-family:crimst; color:#666666; padding:8px 0px 0px 0px; margin:60px 0px 5px 0px;}

a.black {text-decoration:none; color:#000000;}
a.red {text-decoration:none; color:#aa0000;}

a:hover {color:#666666; background-color: transparent; text-decoration: none;}

@font-face {font-family:abrilf; src:url(../font/AbrilFatface-Regular.ttf);}
@font-face {font-family:crimst; src:url(../font/CrimsonText-Regular.ttf);}
@font-face {font-family:incons; src:url(../font/Inconsolata-Regular.ttf);}
}
