@media (min-width: 1000px){
body {margin:3% 17% 1.5% 17%;}
h1 {font-size:17px; font-family:abrilf; font-weight:normal; margin:0px; color:#ffffff;}

.header {margin:0px 0px 0px 0px; margin:0px 0px 25px 0px; padding:0px 0px 8px 0px; border-bottom:1px solid #cccccc;}
.logo {font-size:37px; font-family:abrilf; color:#000000;}
.quote {font-size:18px; font-family:crimst;}
.content {font-size:20px; font-family:crimst;}
.notice {font-size:17px; font-family:crimst; color:white; background:black; padding:15px; margin:10px 0px 0px 20px; border:1px solid #000000;}
.footer {font-size:15px; font-family:crimst; color:#666666; padding:8px 0px 0px 0px; margin:50px 0px 0px 0px;}

a.black {text-decoration:none; color:#000000}
a.red {text-decoration:none; color:#aa0000;}
a.white {text-decoration:none; color:#ffffff;}

a:hover {color:#808080; background-color: transparent; text-decoration: none;}

@font-face {font-family:abrilf; src:url(font/AbrilFatface-Regular.ttf);}
@font-face {font-family:crimst; src:url(font/CrimsonText-Regular.ttf);}
}


@media (max-width: 1000px){
body {margin:3% 4% 1.5% 4%;}
h1 {font-size:17px; font-family:abrilf; font-weight:normal; margin:0px; color:#ffffff;}

.header {margin:0px 0px 0px 0px; margin:0px 0px 25px 0px; padding:0px 0px 8px 0px; border-bottom:1px solid #cccccc;}
.logo {font-size:42px; font-family:abrilf; color:#000000;}
.quote {font-size:18px; font-family:crimst;}
.content {font-size:20px; font-family:crimst;}
.notice {font-size:17px; font-family:crimst; color:white; background:black; padding:15px; margin:10px 0px 0px 20px; border:1px solid #000000;}
.footer {font-size:15px; font-family:crimst; color:#666666; padding:8px 0px 0px 0px; margin:50px 0px 0px 0px;}

a.black {text-decoration:none; color:#000000}
a.red {text-decoration:none; color:#aa0000;}
a.white {text-decoration:none; color:#ffffff;}

a:hover {color:#808080; background-color: transparent; text-decoration: none;}

@font-face {font-family:abrilf; src:url(font/AbrilFatface-Regular.ttf);}
@font-face {font-family:crimst; src:url(font/CrimsonText-Regular.ttf);}
}
